[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.23.0"
pyglet = "*"
pygame = "*"
gymnasium = "*"
pettingzoo = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
